<!-- app.component.html -->

<div class="container">
    <h1>{{ title }}</h1>
    
    <p>Welcome to {{ title }}! This is a sample Angular app.</p>
    
    <!-- Binding an input element -->
    <input type="text" [(ngModel)]="userInput" placeholder="Enter something here" />
    <p>You entered: {{ userInput }}</p>
  
    <!-- Using *ngIf directive -->
    <button (click)="toggleMessage()">Toggle Message</button>
    <p *ngIf="showMessage">Hello, this is a hidden message!</p>
  
    <!-- Using *ngFor directive -->
    <ul>
      <li *ngFor="let item of items">{{ item }}</li>
    </ul>
  
    <!-- Calling a method using event binding -->
    <button (click)="addItem()">Add Item</button>
  </div>
  